@model Mangos.Mvc.Models.GerenciarConta.GerenciarConfiguracoesGrupoModel

@{
    ViewData["SubTitle"] = "Configurações do grupo";
    Layout = "~/Views/GerenciarConta/_LayoutGerenciar.cshtml";
}

<div class="card">
    <h5 class="card-header">@ViewData["SubTitle"]</h5>
    <div class="card-body">

        <form method="post">
            <div class="form-horizontal">

                <div class="form-group row">
                    <label asp-for="MesesAntecedenciaGerarLancamento" class="col-md-3 text-md-right col-form-label col-form-label-sm"></label>
                    <div class="col-md-3">
                        <input asp-for="MesesAntecedenciaGerarLancamento" class="form-control form-control-sm" />
                        <span asp-validation-for="MesesAntecedenciaGerarLancamento" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="MesesAntecedenciaGerarLancamentoCartao" class="col-md-3 text-md-right col-form-label col-form-label-sm"></label>
                    <div class="col-md-3">
                        <input asp-for="MesesAntecedenciaGerarLancamentoCartao" class="form-control form-control-sm" />
                        <span asp-validation-for="MesesAntecedenciaGerarLancamentoCartao" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="MesesGraficosDashboard" class="col-md-3 text-md-right col-form-label col-form-label-sm"></label>
                    <div class="col-md-3">
                        <input asp-for="MesesGraficosDashboard" class="form-control form-control-sm" />
                        <span asp-validation-for="MesesGraficosDashboard" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-md-3 col-md-9">
                        <input type="submit" value="Gravar" class="btn btn-primary btn-sm" /> ou @Html.ActionLink("Voltar", "Index", "Home")
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>

@if (Model.Sucesso)
{
    @section scripts_gerenciar {
        <script type="text/javascript">
            mensagemTopo(true, 'Os dados do grupo foram alterados com sucesso.');
        </script>
    }
}
