@model IEnumerable<Mangos.Mvc.Models.ViewModels.CategoriaListaModel>

@{
    ViewData["Title"] = "Cadastro de categorias";
}

<div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="p-2 bd-highlight margin-auto">
        <div class="btn-group bootstrap-navbar-btn-group">
            <open-modal-button controller="Categoria" action="Dados" value="0" class="btn btn-sm btn-info" glyph-icon="plus-square">Incluir</open-modal-button>
        </div>
    </div>
</div>

<nav class="borda-conteudo">
    <div class="titulo-filtro">
        <span class="fa fa-search" aria-hidden="true"></span> Pesquisa
    </div>

    <form asp-action="IndexLista" asp-controller="Categoria" id="form-busca" method="get" data-ajax="true" data-ajax-update="#listaAjax" class="navbar-form navbar-left">
        <div class="form-group row">
            <label for="Busca_Descricao" class="col-md-1 text-md-right col-form-label col-form-label-sm">Descrição</label>
            <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" placeholder="Descrição" id="Busca_Descricao" name="Descricao">
            </div>
        </div>

        <div class="form-group form-check form-control-sm offset-md-1">
            <input type="checkbox" class="form-check-input" id="buscarInativos" name="buscarInativos" value="true">
            <label class="form-check-label" for="buscarInativos">Buscar inativos</label>
        </div>

        <div class="form-group offset-md-1">
            <button type="submit" class="btn btn-info btn-sm" glyph-icon="search">Procurar</button>
        </div>
    </form>
</nav>

<div id="listaAjax" class="borda-conteudo">
    @await Html.PartialAsync("IndexLista", Model)
</div>
